<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Roboto&family=Sacramento&family=Square+Peg&display=swap" rel="stylesheet">
  <title>Plasma Donor Application</title>
</head>

<body class="Rhome">
  <div class="nav">
    <ul>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/request">Request Plasma</a></li>
      <li><a href="/Recepientabout">About</a></li>
      <li><a href="/Recepienthome">Home</a></li>
  </ul>
  </div>
  <h1 class="welcome">Welcome!</h1>
  <h2 class="c">Plasma donation can save lives.</h2>
  <script>
    window.watsonAssistantChatOptions = {
      integrationID: "e1cb9d3f-76b7-4166-a81e-5f12ff858934", // The ID of this integration.
      region: "jp-tok", // The region your integration is hosted in.
      serviceInstanceID: "2730ab8f-402b-4129-84a1-fe7ce59ab01d", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
    setTimeout(function(){
      const t=document.createElement('script');
      t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
      document.head.appendChild(t);
    });
  </script>

 

</body>

</html>
